@charset "UTF-8"; /*encoding type, utf 8 is the prefered format*/ 

body { /*setting body attributes*/
  color: #323333;
  margin:0px;
  background-image: url('home_bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:arial;
}

a {/*setting link attributes*/
  color: #323333;
  text-decoration: none;
}

.active { /*active link colour*/
  color: #f5ba25;

}

a:hover { /*hover link colour*/
  color: #f5ba25;
}

@media screen and (min-width: 601px) { /*making navbar resize when device screen changes to above or below a specific size*/
  .nav {
    grid-auto-flow: column;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    grid-auto-flow: row;
    padding-bottom: 20px;
  }
}

.nav { /*setting navbar attributes*/
  display: grid;
  min height: 200px;
  /*grid-auto-flow: column;*/
  background-color: #edfdff;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 80%;

}


#logo { /*setting logo attributes*/
  display: grid;
  /*justify-content: start;*/
  align-content: center;

}
@media screen and (min-width: 601px) { /*logo resizing when screen size changes*/
  #logo {
    justify-content: start;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    font-size: 25px;
  }
}

@media screen and (min-width: 601px) { /*links resizing when screen size changes*/
  a {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  a {
    font-size: 30px;
  }
}

#links { /*setting link attributes*/
  display: grid;
  /*justify-content: end;*/
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 15px;
}

@media screen and (min-width: 601px) { /*link group resizing when screen size changes*/
  #links {
    justify-content: end;
    grid-auto-flow: column;
  }
}

@media screen and (max-width: 600px) {
  #links {
    font-size: 30px;
    grid-auto-flow: row;
  }
}
